<%- include('../partials/header.ejs') %>
<h1>Logout Page</h1>
<button type="button" class="btn btn-primary" onclick="window.location.href='/'">Return to main page</button>
<%- include('../partials/error') %>
<script>
    $(document)
        .ready(function () {
            $.ajax({
                type: 'POST',
                url: '/auth/logout',
                cache: false,
                complete: function (response) {
                    document.getElementById("error").innerHTML = response.responseText
                }
            })
        })
</script>
<%- include('../partials/footer.ejs') %>