<br>
<section>
<div class="container">
    <button type="button" onclick="window.location.href='/auth/login'" class="btn btn-primary">Login</button>
    <button type="button" onclick="window.location.href='/auth/register'" class="btn btn-danger">Register</button>
</div>
</section>
<br>