<section>
  <h3>Logged in as <%= email %> </h3>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/behavior/reporting">Reporting</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/behavior/summary">Summary</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/auth/logout">Logout</a>
      </li>
    </ul>
</section>
<br>