<%- include('./partials/header.ejs') %>

<h1>Login Form</h1>
<form id="form">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email" aria-describedby="emailHelp"
            placeholder="Enter email as user name">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
            else.</small>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" placeholder="Password">
    </div>

    <button type="button" id="submit" class="btn btn-primary">Login</button>
    <button type="button" onclick="javascrtpt:window.location.href='/auth/registration'"
        class="btn btn-danger">Register</button>
</form>
<%- include('partials/error') %>
<script>
    $(document)
        .ready(function () {
            
            $('#submit').click(function () {
                var formData = $("#form").serializeArray()
                console.log(formData[0].value);
                var data = {
                    email: formData[0].value,
                    password: formData[1].value
                }
                $.ajax({
                    type: 'POST',
                    url: '/auth/login',
                    cache: false,
                    data: JSON.stringify(data),
                    dataType: "json",
                    complete: function (response, XMLHttpRequest) {
                        console.log(response)
                        if (response.status !== 200){
                            document.getElementById("error").innerHTML = response.responseText
                        } else {
                            window.location.href = "/dashboard"
                        }
                    }
                })
            }
            )
        })
</script>

<%- include('./partials/footer.ejs') %>