<%- include('./partials/header.ejs') %>
<br>
<div class="ui center aligned middle aligned stackable grid container">
  <div class="six wide column">
    <div class="ui segment">
      <h1>Login Form</h1>
      <div class="ui divider"></div>
      <div class="ui form">
        <div class="field">
          <div class="ui left icon input">
            <input type="text" placeholder="Email" name="email">
            <i class="user icon"></i>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <input type="password" placeholder="Password" name="password">
            <i class="lock icon"></i>
          </div>
        </div>

        <div class="ui divider"></div>
        <div class="field">
          <button class="ui big blue submit button">Login</button>
        </div>
        <div class="ui success message"></div>
        <div class="ui error message"></div>
      </div>
    </div>
    <button class="ui left floated green register button">Register</button>
    <button class="ui right floated index button">Return</button>
  </div>

</div>
<!-- Modal -->
<div class="ui basic success modal">
  <div class="ui message">
    <div class="ui header">You are now login in
      <p id="success"></p>
    </div>
  </div>
  <div class="actions">
    <div class="ui positive right labeled icon dashboard button">
      To dashboard
      <i class="arrow circle down icon"></i>
    </div>
    <div class="ui negative right labeled icon button">
      Close
      <i class="minus circle icon"></i>
    </div>
  </div>
</div>
<div class="ui basic fail modal">
  <i class="close icon"></i>
  <div class="ui header">Login failed
  </div>
  <div class="ui message">
    <div class="ui header">
    </div>
    <div class="ui divider"></div>
    <div class="ul"></div>
    <br>
    <div class="ui right labeled icon">Please refresh the page</div>
  </div>
  <div class="actions">
    <div class="ui positive right labeled icon button">
      Confirm
      <i class="arrow circle down icon"></i>
    </div>
  </div>
</div>
<script>

  $(document).ready(function () {
    // document.cookie = "user={token=123455}"
    var $checked = false;
    var $form = $(".ui.form");
    $.api.settings.api = {
      register: "/auth/register",
      login: "/auth/login",
      dashboard: "/auth/dashboard",
    };
    $form.form({
      fields: {
        email: {
          identifier: "email",
          rules: [
            {
              type: "empty",
              prompt: "Please enter your email",
            },
            {
              type: "email",
              prompt: "Please enter a valid email",
            },
          ],
        },
        password: {
          identifier: "password",
          rules: [
            {
              type: "empty",
              prompt: "Please enter your password",
            },
            {
              type: "minLength[6]",
              prompt: "Your password must be at least 8 characters",
            },
          ],
        },
      },
      inline: true,
      on: "blur",
      // onSuccess: function () {
      //   console.log($form.form("get values", ["email", "password"]));
      // },
    });
    $(".ui.submit.button").api({
          action: "login",
          data: $form.form("get values", ["email", "password"]),
          method: "POST",
          // beforeXHR: function (xhr) {
          //   // adjust XHR with additional headers
          //   token = getToken();

          //   xhr.setRequestHeader("Authorization", token);
          //   return xhr;
          // },
          onResponse: function (response) {
            console.log(response)
            if (!response) {
              return;
            }
            if (response["status"] === 200) {
              response["success"] = true;
            } else {
              response["success"] = false;
            }

            return response;
          },
          onFailure: function (response) {
            console.log(response)
            $("#error").text(response["msg"]);
            $(".ui.basic.fail.modal").modal("show");
          },
          onSuccess: function (response) {
            console.log(response);
            if (response["success"]) {
              $("#success").text(response["msg"]);
              $(".ui.basic.success.modal").modal("show");
              // $.cookie('user', response['data'])
            } else {
              $(".ui.fail.modal .message .header").html(response["msg"]);
              for (var i in response["data"]) {
                $(".ui.fail.modal .message .ul").empty();
                $(".ui.fail.modal .message .ul").append(
                  "<li>" +
                  "<h3>" +
                  i +
                  "</h3>" +
                  "<p>" +
                  response["data"][i][0] +
                  "</p>" +
                  "</li>"
                );
              }
              $(".ui.fail.modal").modal("show");
            }
          },
        });
    $(".ui.index.button").click(function () {
      window.location.href = "dashboard";
    });
    $(".ui.register.button").click(function () {
      window.location.href = "/auth/register";
    });
  });

</script>
<%- include('./partials/footer.ejs') %>